/* Estilos generales para el sitio web */
*{
    box-sizing: border-box;/* hace que el padding y el border se incluyan en el ancho y alto total del elemento */
}

/* Estilos para el cuerpo del documento */
body{
    font-family: 'roboto', sans-serif;/* establece la fuente del documento */
    margin: 0;/* elimina el margen por defecto */
}

/*tamaño de la fuente*/
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}/* elimina los puntos de la lista */
li{font-size: 1.25em;
}


.button{
    font-size: 1.5em;
    font-weight: bold;/* negrita */
    padding: 10px 30px;/* espacio interno */
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.5);/* borde del botón */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);/* sombra del botón */
    color: rgb(255, 255, 255);
    background-color: #d7401f;/* color de fondo */
}



.button:hover{
    background-color: #ffffff;/* color de fondo al pasar el mouse */
    color: #d7401f;/* color del texto al pasar el mouse */
    cursor: pointer;/* cursor al pasar el mouse */
}

/*---------------------*/
.container{
    max-width: 1400px;/* ancho máximo del contenedor */
    margin: auto;/* centra el contenedor */
}

header{
    background-color: rgb(245, 245, 245);
}

/*
.logo{
    padding: 25px 30px
}*/

header .container{
    display: flex;
    flex-direction:row;/* dirección de los elementos */
    align-items: center;/* centra los elementos */
}

#nav{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 25px;/* espacio inferior */
}

#nav a{
    padding: 5px 12px;/* espacio interno */
    text-decoration: none;/* elimina el subrayado */
    font-weight: bold;/* negrita */
    color: #000000;/* color del texto */
}

#nav a:hover{
    color: #d7401f;/* color del texto al pasar el mouse */
}

#hero{
    display: flex;
    align-items: center;/* centra los elementos */
    justify-content: center;/* centra los elementos */
    text-align: center;/* centra el texto */
    flex-direction: column;/* dirección de los elementos */
    height: 90vh;/* altura de la pantalla */
    color: #ffffff;
    background-image:
    linear-gradient( 0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )/* degradado*/ ,url("../Images/Hero.jpg");/* imagen de fondo */
    background-repeat: no-repeat;/* no repetir la imagen */
    background-size: cover;/* cubrir todo el contenedor */
    background-position: center center;/* centrar la imagen */
}